.ant-tree-draggable-icon{
    display: none;
}
.draggable-tree {
    height: 100%;
    overflow-y: auto;
}

.draggable-tree::-webkit-scrollbar {
    width: 4px;
}
.draggable-tree::-webkit-scrollbar-track {
    background: transparent;
}
.draggable-tree::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 4px;
}
.draggable-tree::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}

body {
    margin: 0;
}
#root {
    height: 100vh;
    background-color: #f2f2fd;
    /*background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a18cd1);*/
    /*background-size: 300% 300%;*/
    /*animation: gradientAnimation 10s ease infinite;*/
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*
replace ant design default styles
*/
.ant-layout {
    background: transparent;
}
.ant-tree {
    border-radius: 0;
    background-color: #f2f2fd;
}
.ant-tree-node-content-wrapper:hover {
    background-color: #d6d6fb;
    border-radius: 0;
}
.ant-btn-primary {
    background-color:  #a97efa !important;
}



/*
customer css applying to ant design components
*/
.CUSTOMER_CARD {
    background: white;
}
.CONTENT-PANEL {
    box-shadow: #6a6aa35e -2px -1px 10px 0;
    border-radius: 20px;
}
.MVP {
    background: rgba(255, 0, 0, 0);
}

.CREATE {
    display: flex;
    justify-content: center;
    align-items: center;
}



